# app
FHIR_CLIENT_URL=http://localhost:5173
FHIR_TO_TABLES_URL=http://localhost:5174
PATIENT_TIMELINE_URL=http://localhost:5175
QUESTIONNAIRE_CLIENT_URL=http://localhost:5176
FHIR_SERVER_URL=http://localhost:8080
QUESTIONNAIRE_SERVER_URL=http://localhost:8081

# services
GATEWAY_SERVICE_URL=http://localhost:3000
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
FHIR_NAME_SERVICE_URL=http://localhost:3003
