<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-900 text-zinc-100">
    <div class="container mx-auto p-4">
      <header>
        <h1 class="text-2xl">Resource Statuses</h1>
      </header>
      <div class="pt-4">
        <button
          hx-get="encounter"
          hx-trigger="click"
          hx-target="#results"
          class="border border-amber-300 text-amber-300 px-2 py-1 rounded hover:bg-amber-700 focus-within:bg-amber-700 outline-none mx-2"
        >
          Encounter
        </button>
        <button
          hx-get="observation"
          hx-trigger="click"
          hx-target="#results"
          class="border border-amber-300 text-amber-300 px-2 py-1 rounded hover:bg-amber-700 focus-within:bg-amber-700 outline-none mx-2"
        >
          Observation
        </button>
      </div>
      <div hx-get="todos" hx-trigger="load" hx-target="#results"></div>
      <div id="results"></div>
    </div>
  </body>
</html>
