

ol {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  display: inline;
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: medium;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
}
