.resource-item {
  width: 150px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: aqua;
}

.selected {
  background-color: pink;
}

.graph {
  display: flex;
  gap: 12px;
}
